meta[charset="utf-8"]
meta[http-equiv="X-UA-Compatible" content="IE=edge;chrome=1"]
meta[name="viewport" content="initial-scale=1.0, user-scalable=no"]
title
  = format_title
meta[description="#{page_description}"]
= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed"
link[rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css"]
= javascript_include_tag :all
= favicon_tag '/images/favicon.jpg'
